In [1]:
#Decision tree regression

In [2]:
import pandas as pd
import numpy as np

In [3]:
path = r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB" 
df = pd.read_csv(path)

In [4]:
df.head(4)

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [46]:
x=df.drop('price',axis=1)
y=df['price']

In [47]:
x.shape

(7120, 107)

In [48]:
y.shape

(7120,)

In [12]:
from sklearn.model_selection import train_test_split

In [77]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=0)

In [78]:
x_train.shape

(4984, 107)

In [79]:
x_test.shape

(2136, 107)

In [32]:
from sklearn.tree import DecisionTreeRegressor

In [44]:
regressor=DecisionTreeRegressor()

In [80]:
regressor.fit(x_train,y_train)

DecisionTreeRegressor()

In [81]:
regressor.score(x_test,y_test)

0.926707160503091

In [82]:
#predict the value of house

In [88]:
x_test.iloc[-1:]

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
5449,2.0,2.0,1125.0,2,6666.666667,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [90]:
regressor.predict([x_test.iloc[-1,:]])

C:\Users\princ\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([75.])

In [91]:
y_test.iloc[-1]

75.0

In [92]:
pred=regressor.predict(x_test)
pred

array([ 68.  ,  36.69,  60.5 , ..., 100.  ,  85.  ,  75.  ])

In [93]:
y_test

1189     68.0
5876     36.0
5597     61.0
3391     85.0
6122     64.0
        ...
1273     48.0
552     100.0
549     100.0
6571     85.0
5449     75.0
Name: price, Length: 2136, dtype: float64